/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

h1,h2,h3 {
  text-align: center;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
}

nav a {
  background-color: #c0c0c0;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 15px;
}

.right-navbar {
  display: flex;
}

.active {
  color: #c0c0c0;
  background-color: #08415C;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: thin;
}

.allRobotsContainer {
  display: flex;
  flex-wrap: wrap;
}

.allProjectsContainer {
  display: flex;
  flex-wrap: wrap;
}

.projectListItem {
  flex-grow: 1;
  width: 30%;
  max-width: 30%;
  border: 1px solid;
  border-radius: 15px;
  margin: 10px;
  text-align: center;

  text-decoration: none;
  font-weight: bold;
}

.allRobotsItem {
  flex-grow: 1;
  max-width: 33%;
  border: 1px solid;
  border-radius: 15px;
  margin: 10px;
  text-align: center;

  text-decoration: none;
  font-weight: bold;
}

.allRobotsItem img {
  width: 100px;
  height: 100px;
}

.deleteButton {
  cursor: url(images/bomb_icon.png) 1 1, pointer;
  background-color: orange;
  width: 60px;
}

.allRobotsItem:hover {
  background-color: #AC9FBB;
}

.robotForm {
  display: flex;
  justify-content: space-around;
  margin: 0px 40px 0px 40px;
}

.projectListItem:hover {
  background-color: #AC9FBB;
}

.singleItemContainer {
  display: flex;
  justify-content: space-around;
  margin: 0px 50px 0px 50px;
}

.singleItemContainer > img {
  border: 1px solid;
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

.singleItemContainer span {
  font-weight: bold;
}

.robotsProjects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
