/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
}

nav a {
  background-color: #c0c0c0;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 15px;
}

.right-navbar {
  display: flex;
}

.active {
  color: #c0c0c0;
  background-color: #08415C;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: thin;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
